<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--連線字串-->
    <add key="TestEmpNo" value="534212"/>
    <add key="ConnectionString" value=""/>
    <!--common設定值 start-->
  </appSettings>
  <!--Data Source=sql01.ddns.net ;Initial Catalog=trello_db ;User ID=sa;Password=m06cj/62014;Trusted_Connection=false;-->
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="trello_tast.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>